body {
    background: #faf744;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#button1 {
    color: black;
    border: 2px solid #04AA6D;
    width:85vw;
    height: 85vh;
    background-size: cover;
    background-position: absolute;
    background-image: url("https://static.wixstatic.com/media/f00cb0_a3acb8262716490783fd83dc1bd82516~mv2_d_4752_3168_s_4_2.jpeg/v1/fit/w_2500,h_1330,al_c/f00cb0_a3acb8262716490783fd83dc1bd82516~mv2_d_4752_3168_s_4_2.jpeg");
    text-align: right;
    color: white;
}
.sidebar {
    list-style: none;
    opacity: 0;
    width: 200px;
    transition: width .75s;
    -webkit-transition: width .75s;
    -moz-transition: width .75s;
}
.show {
    opacity: 1;
    width: 400px;
}

#title {
    text-align: center;
}

.popout {
    display: flex;
}
